{% load mptt_tags %}
<script type="text/javascript">
$(function(){

    function bind_comment_form_submit(){
        $("form#opps-comment").on("submit", function(e){
            var postData = $(this).serializeArray();
            var formURL = $(this).attr("action");
            $.ajax(
            {
                url : formURL,
                type: "POST",
                data : postData,
                success:function(data, textStatus, jqXHR)
                {
                    if (data['success'] == true) {
                       $("form#opps-comment input[type='text']").val("");
                       $("form#opps-comment textarea").val("");
                     }
                     $('#comment-message').show().text(data['message']);
                     bind_comment_form_submit();
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    //if fails
                }
            });
            e.preventDefault(); //STOP default action
        })
    }

    // Function to handle comment add
    function addItem(item, parent){
        var li = $("<li>");
        li.html(item.body);
        li.appendTo(parent);
        // TODO: add reply here
        return li;
    }

    // Function to iterate items and recurse when necessary
    // Will call many times addItem(itemData, parentDOM)
    // Level is useless here used only to debug recursion
    function iterate(parent, items, level){
        var handler = null;
        var item = null;
        for(var i = 0; i < items.length; ++i){
            item = items[i];
            handler = addItem(item, parent);
            try{
                var _parent = $('<ul>');
                iterate(_parent, item.comments, level+1);
                _parent.appendTo(handler);
            } catch(err){
                // No comments on 'item'
            }
        }
    }

    function load_internal_comments(){
        var comment_area = $("#opps_comments" );
        comment_area.load( comment_area.attr('data-form-path'), function() {
            bind_comment_form_submit();
            path = comment_area.attr('data-path');
            url = "/api/comments/?path=" + path;
            $.get(url, function( data ) {
                iterate($("#opps_comments_list"), data, 0);
            });
        });
    }

    load_internal_comments();

})
</script>
