<script type="text/javascript">
$(function(){

    function bind_comment_form_submit(){
        $("form#opps-comment").on("submit", function(e){
            var postData = $(this).serializeArray();
            var formURL = $(this).attr("action");
            $.ajax(
            {
                url : formURL,
                type: "POST",
                data : postData,
                success:function(data, textStatus, jqXHR)
                {
                    //data: return data from server
                    //$("#opps_comments").html(data);
                    if (data['success'] == true) {
                       $("form#opps-comment input[type='text']").val("");
                       $("form#opps-comment textarea").val("");
                     }
                     $('#comment-message').show().text(data['message']);
                     bind_comment_form_submit();
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    //if fails
                }
            });
            e.preventDefault(); //STOP default action
        })
    }

    function load_internal_comments(){
        var comment_area = $("#opps_comments" );
        //comment_area.empty();
        comment_area.load( comment_area.attr('data-path'), function() {
            console.log( "Load was performed." );
            bind_comment_form_submit();
        });
    }

    load_internal_comments();

})
</script>